# Admin username and password to used by IT for various purposes
admin_user=rt-deploy
admin_password=password

# Where the RT-Deploy files will live on the local system
local_path=C:\\ProgramData\\RT-Deploy

# An address to send various data to, and the email server to use
smtp_server=mysmtpserver
to_address=it@contoso.com
from_address=rt-deploy@contoso.com